matplotlib==3.3.3
matplotlib==3.3.2
networkx==2.6.3
networkx==2.5
numpy==1.21.6
numpy==1.18.5
numpy==1.18.0
numpy==1.19.2
qiskit==0.34.2
qiskit==0.23.4
qiskit_aer==0.10.4
qiskit_aer==0.7.3
qiskit_aqua==0.8.1
qiskit_ibmq_provider==0.18.3
qiskit_ibmq_provider==0.11.1
qiskit_ignis==0.7.0
qiskit_ignis==0.5.1
qiskit_terra==0.22.0
qiskit_terra==0.16.3
scipy==1.7.3
scipy==1.4.1
scipy==1.5.2
~iskit_terra==0.21.1
~umpy==1.18.5
